#monitor-container {
  width: 1024px;
  aspect-ratio: 16/9;
}

#monitor {
	background: #000;
	position: relative;
	border-top: 3px solid #a29c9b;
	margin: 5%;
	padding: 2% 2% 4% 2%;
	border-radius: 10px;
	border-bottom-left-radius: 50% 2%;
	border-bottom-right-radius: 50% 2%;
	transition: margin-right 1s;
}

#monitor:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 3%;
	left: 36%;
	height: .5%;
	width: 28%;
	background: #a29c9b;
	border-radius: 50%;
	box-shadow: 0 0 3px 0 #a29c9b;
}

#monitor-screen {
  position: relative;
  background-color: #a29c9b;
  background-size: cover;
  background-position: top center;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;         
}

#monitor-screen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media all and (min-width: 960px) {
  #monitor {
    -webkit-animation: tvflicker .2s infinite alternate;
		-moz-animation:    tvflicker .5s infinite alternate;
		-o-animation:      tvflicker .5s infinite alternate;
		animation:         tvflicker .5s infinite alternate;
  }

  @-webkit-keyframes tvflicker {
    0%   { box-shadow: 0 0 100px 0 rgba(162, 156, 155, 0.4); }
    100% { box-shadow: 0 0 95px 0 rgba(162, 156, 155, 0.45); }
  }
  @-moz-keyframes tvflicker {
    0%   { box-shadow: 0 0 100px 0 rgba(162, 156, 155, 0.4); }
    100% { box-shadow: 0 0 60px 0 rgba(162, 156, 155, 0.6); }
  }
  @-o-keyframes tvflicker {
    0%   { box-shadow: 0 0 100px 0 rgba(162, 156, 155, 0.4); }
    100% { box-shadow: 0 0 60px 0 rgba(162, 156, 155, 0.6); }
  }
  @keyframes tvflicker {
    0%   { box-shadow: 0 0 100px 0 rgba(162, 156, 155, 0.4); }
    100% { box-shadow: 0 0 60px 0 rgba(162, 156, 155, 0.6); }
  }
}

.movie-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: auto;
  padding: 32px;
  font-weight: 900;
  color: #511c29;
  align-items: flex-start;
}

.movie-poster {
  border-radius: 10% / 50%;
  max-height: 440px;
  width: auto;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.movie-provider {
  width: 50px;
  border-radius: 10% / 50%;
}
