<div class="movie-container" id="display-movie">
</div>

<div class="remote-container" data-controller="remote">
  <div id="off-button">&#x23FB;</div>
  <div class="remote-button button-square"></div>
  <div class="remote-button button-square"></div>
  <div class="remote-button button-square"></div>
  <div class="remote-button button-square"></div>
  <div class="remote-button button-square"></div>
  <div class="remote-button button-square"></div>
  <div class="remote-button button-square"></div>
  <div class="remote-button button-square"></div>
  <div class="remote-button button-square"></div>
  <button id="zap-button" data-action="click->remote#zap">
    <span class="back"></span>
    <span class="front">ZAP</span>
  </button>
  <div class="remote-button button-rectangle"></div>
  <div class="remote-button button-rectangle"></div>
  <div class="remote-button button-rectangle"></div>
  <div class="remote-button button-rectangle"></div>
  <div class="remote-button button-rectangle"></div>
  <div class="remote-button button-rectangle"></div>
  <div class="remote-button button-rectangle"></div>
  <div class="remote-button button-rectangle"></div>
  <div class="remote-button button-rectangle"></div>
</div>
