<div id="home-container">

  <div id="remote-container" data-controller="remote">
    <div class="remote-square-button"></div>
    <div class="remote-square-button"></div>
    <div class="remote-square-button"></div>
    <div class="remote-square-button"></div>
    <div class="remote-square-button"></div>
    <div class="remote-square-button"></div>
    <div class="remote-square-button"></div>
    <div class="remote-square-button"></div>
    <div class="remote-square-button"></div>
    <button id="zap-button" data-action="click->remote#zap">ZAP</button>
    <div class="remote-rectangle-button"></div>
    <div class="remote-rectangle-button"></div>
    <div class="remote-rectangle-button"></div>
    <div class="remote-rectangle-button"></div>
    <div class="remote-rectangle-button"></div>
    <div class="remote-rectangle-button"></div>
  </div>

  <div id="monitor-container">
    <div id="monitor">
      <div id="monitor-screen">
        <div class="movie-container" id="display-movie">
        </div>
      </div>
    </div>
  </div>

</div>
