.navbar-main {
  justify-content: space-between;
  border-bottom: 1px solid #242529;
  height: 100px;
  min-height: 100px;
  padding: 0px 30px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px); // flou d’arrière-plan pour plus de lisibilité
  -webkit-backdrop-filter: blur(4px);
}

.navbar-main .navbar-brand img {
  width: 84px;
  filter: none;
  opacity: 1;
}

.navbar-main .navbar-middle{
  font-size: 110px;
  padding-top: 20px;
}
