@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  font-family: "Special Elite", system-ui, serif;
  font-weight: 400;
  font-style: normal;
  background-color: #511c29;
  color: #a29c9b;
}

p {
  font-size: 18px;
}
